.App {

	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	overflow: clip;

}

.answerChoiceButton {
	margin: 2px;
	width: 120px;
	height: 160px;
	border-radius: 20px;
	border-width: 0px;
	background-color: whitesmoke;
}

.answerChoiceButton:hover {
	outline: 1px solid dodgerblue;
	background-color: aliceblue;
}

.answerChoiceButton:active {
	outline: 3px solid dodgerblue;
}

.answerChoiceButton.selectedAnswerChoice {
	background-color: dodgerblue;
}

.answerChoiceButton.submittedAnswerChoiceCorrect {
	background-color: forestgreen;
	color: white;
}

.answerChoiceButton.submittedAnswerChoiceIncorrect {
	background-color: orangered;
	color: white;
}

.answerChoiceButton img {

	width: 100px;
	height: 100px;
	
}

.answerChoiceButton text {

	font-size: 16px;
	color: black;
	text-size-adjust: inherit;

}

button {
	transition-duration: 0.1s;
}

.pokemonSearch {
	width: 100%;
	border: 0px;
	text-align: center;
	font-size: 18px;
	padding: 16px 0px 16px 0px;
	background-color: whitesmoke;
	border-bottom: 4px solid white;
}

.questionScreenBottomSection {
	height: 60%;
	display: flex;
	flex-direction: column;
}

.answerChoices {
	background-color: white;
	overflow-y: scroll;
	height: 100%;
}

button {

	cursor: pointer;

}

.questionDisplay {
	top: 0;
	height: 40%;
	background-color: dodgerblue;
	text-align: center;
	color: white;
	font-size: 18px;
	overflow-y: scroll;
}

.questionEventDiv {

	border-radius: 10px;
	padding: 10px;
	color: black;

}

.revealPokedexEntryButton {

	background: none;
	border-radius: 10px;
	border: 2px solid white;
	padding: 5px;
	color: white;
	margin: 0px 45px 10px 45px;
	font-weight: bold;
	font-size: medium;

}

.questionEventDiv.questionPokedexEntry {
	background-color: white;
	margin: 0px 30px 10px 30px;
}

.questionEventDiv.correctAnswerSubmission {
	background-color: forestgreen;
	margin: 0px 40px 10px 40px;
	color: white;
}

.questionEventDiv.incorrectAnswerSubmission {
	background-color: orangered;
	margin: 0px 40px 10px 40px;
	color: white;
}

.questionTitleDiv {
	border-radius: 10px;
	padding: 10px;
	background-color: white;
	color: black;
	margin: 20px 15px 10px 15px;
	font-weight: bold;
	font-size: larger;
}

.answerTilesSpan {
	
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	display: table;
	text-align: center;
	

}

.questionNextButton {
	
	min-height: 40px;
	width: stretch;
	border-radius: 10px;
	border: 0px;
	margin: 10px;
	font-size: 20px;
	background-color: forestgreen;
	color: white;

}

.questionNextButtonDiv {

	border-top: 4px solid white;
	background-color: whitesmoke;

}

.questionNextButton.noAnswerSelected {
	background-color: darkgray;
	color: slategrey;
}

.questionNextButton.nextQuestion {
	background-color: dodgerblue;
}
